# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Настройки редакторов кода
.vscode/
.idea/

# Служебные файлы системы
.DS_Store
Thumbs.db

# Файлы с логами и временные файлы
*.log
tmp/